@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");

:root {
  --yellow: #fcd535;
  --black: #0b0e11;
  --dark: #181a20;
  --light: #474d57;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  color: var(--light);
}

body {
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

button {
  border: none;
  border-radius: 100%;
  background-color: var(--yellow);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
button svg * {
  fill: var(--black);
}

.container {
  width: 100%;
  height: 100vh;
  max-height: 660px;
  max-width: 370px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mode-selector {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 33px 1fr;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  letter-spacing: 0.2em;
}
#maelzel,
#unite {
  user-select: none;
  cursor: pointer;
}
#maelzel {
  text-align: right;
}
.mode-selector .active {
  color: var(--yellow);
}
.mode-selector .switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 17px;
}
.mode-selector input {
  opacity: 0;
  width: 0;
  height: 0;
}
.mode-selector .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--yellow);
  border-radius: 99px;
}
.mode-selector .slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: var(--black);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 100%;
}

.mode-selector input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.tap {
  display: flex;
  justify-content: center;
}
.tap-zone {
  height: 100px;
  width: 100px;
  background-color: var(--black);
  border: 2px solid var(--light);
  border-radius: 100%;
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 32px;
  letter-spacing: 0.1em;
  cursor: pointer;
  user-select: none;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main button {
  width: 51px;
  height: 51px;
}

#tempo-input {
  background: var(--black);
  font-size: 60px;
  width: 156px;
  height: 156px;
  text-align: center;
  border: 2px solid var(--yellow);
  border-radius: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-appearance: textfield;
}
#tempo-input::-webkit-outer-spin-button,
#tempo-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#tempo-input:focus-visible {
  outline: 1px solid var(--yellow);
}

.subdiv-selector {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.subdiv {
  height: 20px;
  width: 20px;
  border: 1px solid var(--yellow);
  background-color: var(--black);
  border-radius: 100%;
  cursor: pointer;
}
.subdiv:hover,
.subdiv.active {
  background-color: var(--yellow);
}

.play-stop-buttons {
  display: flex;
  justify-content: center;
}
.play-stop-buttons button {
  height: 80px;
  width: 80px;
}
#play svg {
  transform: translateX(5px);
}

.main button:hover,
.play-stop-buttons button:hover,
.tap-zone:hover {
  background-color: var(--black);
  border: 2px solid var(--yellow);
}
.main button:hover svg *,
.play-stop-buttons button:hover svg * {
  fill: var(--yellow);
}

.invisible {
  display: none;
}

::selection {
  background: var(--light);
}

@media (max-height:660px) and (orientation: landscape) {
  .container {
    max-width: 600px;
    max-height: 285px;
    display: grid;
    grid-template-columns: 1fr 294px 1fr;
    grid-template-rows: 60px 160px 60px;
    align-items: center;
  }
  .mode-selector {
    grid-area: 1 / 1 / span 1 / span 31;
    align-self: flex-start;
  }
  .tap {
    grid-area: 2 / 1 / span 1 / span 1;
    justify-self: left;
  }
  .main {
    grid-area: 2 / 2 / span 1 / span 1;
  }
  .subdiv-selector {
    grid-area: 3 / 2 / span 1 / span 1;
    align-self: flex-end;
  }
  .play-stop-buttons {
    grid-area: 2 / 3 / span 1 / span 1;
    justify-self: right;
  }
  .play-stop-buttons button {
    height: 100px;
    width: 100px;
  }
}
